<h4><%= @album.name %></h4>
<%= link_to "ブログ/レビューを投稿", "/artists/#{@artist.id}/albums/#{@album.id}/new" %>
<br />
<% @posts.each do |post| %>
	<div>
		<%= link_to post.title, "/artists/#{@artist.id}/albums/#{@album.id}/#{post.id}" %>
	</div>
<% end %>
