<h5>オトハブについて</h5>
<div class="card-panel z-depth-3">
    <h6>誰でも音楽レビューを投稿できます</h6>
    <p>音楽レビューをしてみたいけどブログ作るほどじゃないな、みたいな方、是非レビューをお待ちしています。</p>
    <p>有名なアーティストからあなたの自作アルバムまでどうぞ！</p>
</div>
<div class="card-panel z-depth-3">
    <h6>誰でも音楽ブログの宣伝をできます</h6>
    <p>音楽ブログのリンクを貼れるような機能をつけています。是非このサイトで宣伝させてください！</p>
</div>
<div class="card-panel z-depth-3">
    <h6>投稿の方法</h6>
    <ul>
        <li>1.まず、アカウントを作成し、ログインしてください</li><br />
        <li>2.レビューしたいアーティスト、アルバムを探してください。今サイトにないものは作成できます。</li><br />
        <li>3.投稿をしてください。140字以内のサマリーは必須になっています。オプションでレビュー本文、ブログのリンクをつけられます。
        アルバムについての投稿とアーティストについての投稿の二種類があります。</li>
    </ul>
</div>
<div class="card-panel z-depth-3">
    <h6>読者用機能について</h6>
    <p>ログインすると、フォロー機能、評価機能、後で読む機能を使うことができます。マイページからそれぞれアクセスすることができます。</p>
</div>
<p>作り立てのサイトなので不具合などあるとは思いますが、些細なことでも<a href="/contact">こちら</a>からお申し付けください。</p>
