<p>このサイトの使い方は<a href="/aboutus">こちら</a></p>
<% unless current_user %>
  <p><a href="/users/sign_in">ログイン</a>すると誰でもレビューできるサイトです</p>
<% end %>
<div class="center">
  <%= link_to "アーティスト", "/artists", class:"btn" %>
  <%= link_to "アルバム", "/albums", class:"btn" %>
  <%= link_to "新着投稿", "/posts", class:"btn" %>
</div>
<h5>PICKUP REVIEW</h5>
<div class="row">
  <% count = 10 %>
  <% @posts.each do |post| %>
    <% count -= 1 %>
      <%= render partial: "card", locals: { post: post } %>
    <% if count == 0 %>
      <% break %>
    <% end %>
  <% end %>
</div>