<p><%= @resource.email %>さん</p>

<p>「オトハブ」のパスワード変更用メールです。以下のリンクから変更を行ってください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えがない場合はこのメールを無視してください。</p>
<p>パスワードはリンクをクリックし、変更しない限りは変わることはありません。</p>
